@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

body, 
html, 
.story-container,
.chart-sticky-wrapper,
.content-container,
.text-slide,
.text-slide-content,
.text-slide-image,
.step-spacer,
.thank-you-text,
h1, h2, h3, h4, h5, h6, p, div, span, a, ul, li, button {
  font-family: 'Rubik', sans-serif;
}


.background-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: url('/images/basketball_court2.png') center/cover no-repeat;
	z-index: -1;
  }
  
  .text-slide {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 90vw;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 0;
	box-sizing: border-box;
  }
  
  
  .text-slide-content {
	flex: 1 1 60%;
	margin: 0;
	color: #fff;
	font-size: 2rem;
	text-align: center;
	line-height: 1.4;
  }
  
  .text-slide-image {
	max-width: 40%;
	height: auto;
	margin-left: 2rem; 
	display: block;
	 border: 10px solid #afafaf;
	 border-radius: 5px;
  }
  
  
  .chart-sticky-wrapper {
	position: sticky;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	scroll-snap-align: start;
  }
  
  .content-container {
	width: 90vw;
	max-width: 1200px;
	height: 100%;
  }
  
  .story-container {
	position: relative;
	height: 100vh;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
  }
  
  .step-spacer {
	height: 100vh;
	scroll-snap-align: start;
  }
  
  .steph-image {
	max-width: 30%;
	height: auto;
  }

  .thank-you {
	max-width: 30%;
	height: auto;
  }

  .thank-you-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  
  .thank-you-text {
	font-size: 6rem;
	text-align: center;
	color: #ddd;
  }

  h2 {
	color: #ddd
  }
