.selected {
    background-color: #666666;
    border: 3px solid #d88600;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.unselected {
    background-color: #ffffff;
    border: 3px solid #666666;
    border-radius: 5px;
    padding: 5px;
    color: #666666;
    font-weight: bold;
    font-size: large;
}

.unselected:hover {
    background-color: #666666;
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.yearSlider {
    
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
}

#sliderInput {
    width: 700px;
    opacity: 1.8;
    accent-color: #d79a3d;

}

.shotHeatMapTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: x-large;
    color: white;
}

.shotHeatMapSubtitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: large;
	color: white;
}

.shotHeatMapContainer {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#yearDisplayShotMap {
    position: absolute;
    top: 550px;
    left: 50vw;
    font-weight: bold;
    font-size: 100px;
    color: white;
    
}