#tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: black;
    z-index: 1000;
}

.logoPanel {
    position: absolute;

}

.mapSVG {

    position: absolute;
    left: 0;
    
    z-index: 0;
}

.stateEngagementContainer {
    
    left: -100px;
    width: 1200px;
    height: 1400px;
    
   z-index: 0;;
}

.stateEngagementTitle {
    text-align: center;
    
    color: #ffffff
}

.stateEngagementTitle+h1 {
    
   
    opacity: 1;
    color: #ffffff
}

.color-box {
    width: 200px;
    height: 200px;
    
}

.engagement-legend {
    
    
    
    
    background-color: #666666;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
}