.intro-section {
	position: relative;
	height: 100vh;
	width: 100%;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}

.intro-content {
	max-width: 5000px;
	padding: 0 20px;
	opacity: 0;
	/* initial opacity (animated by D3) */
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-title {
	font-size: 2.5rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	color: #bcbcbc
}

.intro-subtitle {
	margin-top: 50px;
	max-width: 80%;
	font-size: 1rem;
	margin-bottom: 2rem;
	align-content: center;
}

.scroll-cue {
	font-size: 1rem;
	opacity: 0.8;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}